
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?qfkkhg');
    src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
      url('../fonts/icomoon.ttf') format('truetype'),
      url('../fonts/icomoon.woff?') format('woff'),
      url('fonts/icomoon.svg?qfkkhg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
@font-face {
    font-family: 'Roboto';

    src: url('../fonts/Roboto.woff') format('woff'),
    url('../fonts/Roboto.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:
    url('../fonts/Robotobold.woff') format('woff'),
    url('../fonts/Robotobold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    }
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-display: swap;
    font-family: 'Cera Pro';
    src: 
    url('../fonts/CeraPro-BoldItalic.woff') format('woff');

    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-display: swap;
    font-family: 'Cera Pro';
    src: local('Cera Pro Medium'), local('Cera-Pro-Medium'),
        url('../fonts/CeraPro-Medium.woff2') format('woff2'),
        url('../fonts/CeraPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-display: swap;
    font-family: 'Cera Pro';
    src: local('Cera Pro Light'), local('Cera-Pro-Light'),
        url('../fonts/CeraPro-Light.woff2') format('woff2'),
        url('../fonts/CeraPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
@font-face {
    font-display: swap;
    font-family: 'Cera Pro';
    src: local('Cera Pro Black'), local('Cera-Pro-Black'),
        url('../fonts/CeraPro-Black.woff2') format('woff2'),
        url('../fonts/CeraPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src:
    url('../fonts/opensans.woff') format('woff'),
    url('../fonts/opensans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: 
    url('../fonts/opensansbold.woff') format('woff'),
    url('../fonts/opensansbold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    }
*{
    outline: none !important;
}
html{
    height: 100%;
}
body{
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 5;

    &.js-hidden{
        overflow: hidden;
    }
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    cursor: pointer;
    text-decoration: none;
}
p{
    margin: 0;
}
h1{
    margin: 0;
}
select{
    cursor: pointer;
}
button{
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.active{
    display: block;
}
.active-block{
    display: block !important;
}
.active-select{
    display: flex !important;
    flex-wrap: wrap;
}
.dark{
    filter: brightness(0.9);
}
.wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    max-width: 100%;
    overflow: hidden;
    z-index: 9;
}
header{
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
 }
 .main{
    /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 1 0 auto;
 }
 footer{
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
 }

.container{
    position: relative;    
    &--flex{
        display: flex;
        align-items: center;
    }
    &--between{
        justify-content: space-between;
    }
    @media screen and (min-width: 1300px){
        // max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
    @media screen and (min-width: 1630px){
        max-width: 1572px;
        margin: 0 auto;
    }
    @media screen and (min-width: 1930px){
        max-width: 1842px;
        margin: 0 auto;
    }
    
      
}

.header{
    display: flex;
    padding-right: 15px;
    align-items: center;
    justify-content: space-between;
    background-color: #5b6166;
    &__burger{
        margin-left: 16px;
        @media screen and (min-width:1600px){
            pointer-events: none;
        }
    }
    &__left-side{
        display: flex;
        align-items: center;
    }
    &__right-side{
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    &__town{
        .icon-location-arrow{
            padding-right: 3px;
            font-family: 'icomoon';
            font-size: 11px;
            color: #fff;
            &::before{
                content: "\e90e";
            }
        }
        
        &:hover{
            span{
                text-decoration: underline;
            }
            
        }
    }
    @media screen and (min-width:1630px){
        padding-right: 43px;
    }
    
}
/*===============================
=            Choices            =
===============================*/
.choices {
    position: relative;
    overflow: hidden;
    font-size: 13px;
    line-height: 16px;
    color: #4d5156;
    font-family: "Roboto";
  }
  
  .choices:focus {
    outline: none;
  }
  
  .choices:last-child {
    margin-bottom: 0;
  }
  
  .choices.is-open {
    overflow: initial;
    z-index: 10;
  }
  .choices.is-open .choices__item--selectable:not(.choices__placeholder):before{
      display: none;
  }
  
  .choices.is-disabled .choices__inner,
  .choices.is-disabled .choices__input {
    background-color: #eaeaea;
    cursor: not-allowed;
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .choices.is-disabled .choices__item {
    cursor: not-allowed;
  }
  
  .choices [hidden] {
    display: none !important;
  }
  
  .choices[data-type*='select-one'] {
    cursor: pointer;
  }
  
  .choices[data-type*='select-one'] .choices__inner {
    padding-bottom: 7.5px;
  }
  
  .choices[data-type*='select-one'] .choices__input {
    display: block;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
    background-color: #ffffff;
    margin: 0;
  }
  
  .choices[data-type*='select-one'] .choices__button {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
    padding: 0;
    background-size: 8px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10px;
    margin-right: 25px;
    height: 20px;
    width: 20px;
    border-radius: 10em;
    opacity: 0.25;
  }
  
  .choices[data-type*='select-one'] .choices__button:hover, .choices[data-type*='select-one'] .choices__button:focus {
    opacity: 1;
  }
  
  .choices[data-type*='select-one'] .choices__button:focus {
    box-shadow: 0px 0px 0px 2px #00bcd4;
  }
  
  .choices[data-type*='select-one'] .choices__item[data-value=''] .choices__button {
    display: none;
  }
  
  .choices[data-type*='select-one']:after {
    content: '';
    height: 0;
    width: 0;
    border-style: solid;
    border-color: #8b929c   transparent transparent transparent;
    border-width: 4px;
    position: absolute;
    right: 7px;
    top: 50%;
    margin-top: -2px;
    pointer-events: none;
  }

  .choices__list--single  .choices__item--selectable:not(.choices__placeholder){
      &:before{
        content: '';
        height: 0;
        width: 0;
        border-style: solid;
        border-color: #333333 transparent transparent transparent;
        border-width: 4px;
        position: absolute;
        right: 7px;
        top: 50%;
        margin-top: -2px;
        pointer-events: none;
        z-index: 2;
      }
  }
  .choices__list--dropdown{
   z-index: 3;

   .choices__placeholder{
       display: none;
   }
  }
  
  .choices[data-type*='select-one'].is-open:after {
    border-color: transparent transparent #333333 transparent;
    margin-top: -7px;
  }
  
  .choices[data-type*='select-one'][dir='rtl']:after {
    left: 11.5px;
    right: auto;
  }
  
  .choices[data-type*='select-one'][dir='rtl'] .choices__button {
    right: auto;
    left: 0;
    margin-left: 25px;
    margin-right: 0;
  }
  
  .choices[data-type*='select-multiple'] .choices__inner,
  .choices[data-type*='text'] .choices__inner {
    cursor: text;
  }
  
  .choices[data-type*='select-multiple'] .choices__button,
  .choices[data-type*='text'] .choices__button {
    position: relative;
    display: inline-block;
    margin-top: 0;
    margin-right: -4px;
    margin-bottom: 0;
    margin-left: 8px;
    padding-left: 16px;
    border-left: 1px solid #008fa1;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
    background-size: 8px;
    width: 8px;
    line-height: 1;
    opacity: 0.75;
    border-radius: 0;
  }
  
  .choices[data-type*='select-multiple'] .choices__button:hover, .choices[data-type*='select-multiple'] .choices__button:focus,
  .choices[data-type*='text'] .choices__button:hover,
  .choices[data-type*='text'] .choices__button:focus {
    opacity: 1;
  }
  
  .choices__inner {
      box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: #fff;
    padding: 6.5px 7.5px 0 10px;
    border: 1px solid #d3d3d3;
    font-size: 14px;
    overflow: hidden;
  }
  
  .is-focused .choices__inner,
  .is-open .choices__inner {
    border-color: #d3d3d3;
  }
  
 
  
  .choices__list {
    box-sizing: border-box;
    margin: 0;
    padding-left: 0;
    list-style: none;
  }
  
  .choices__list--single {
    display: inline-block;
    padding: 4px 10px 4px 4px;
    width: 100%;
  }
  
  [dir='rtl'] .choices__list--single {
    padding-right: 4px;
    padding-left: 16px;
  }
  
  .choices__list--single .choices__item {
    width: 100%;
  }
  
  .choices__list--multiple {
    display: inline;
  }
  
  .choices__list--multiple .choices__item {
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 3.75px;
    margin-bottom: 3.75px;
    background-color: #00bcd4;
    border: 1px solid #00a5bb;
    color: #ffffff;
    word-break: break-all;
    box-sizing: border-box;
  }
  
  .choices__list--multiple .choices__item[data-deletable] {
    padding-right: 5px;
  }
  
  [dir='rtl'] .choices__list--multiple .choices__item {
    margin-right: 0;
    margin-left: 3.75px;
  }
  
  .choices__list--multiple .choices__item.is-highlighted {
    background-color: #00a5bb;
    border: 1px solid #008fa1;
  }
  
  .is-disabled .choices__list--multiple .choices__item {
    background-color: #aaaaaa;
    border: 1px solid #919191;
  }
  
  .choices__list--dropdown {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    top: 100%;
    margin-top: -1px;
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    overflow: hidden;
    word-break: break-all;
    will-change: visibility;
  }
  
  .choices__list--dropdown.is-active {
    visibility: visible;
  }
  
  .is-open .choices__list--dropdown {
    border-color: #b7b7b7;
  }
  
  .is-flipped .choices__list--dropdown {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: -1px;
    border-radius: 0.25rem 0.25rem 0 0;
  }
  
  .choices__list--dropdown .choices__list {
    position: relative;
    max-height: 300px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
  }
  
  .choices__list--dropdown .choices__item {
    position: relative;
    padding: 10px;
    font-size: 14px;
  }
  
  [dir='rtl'] .choices__list--dropdown .choices__item {
    text-align: right;
  }
  
  @media (min-width: 640px) {

    
    [dir='rtl'] .choices__list--dropdown .choices__item--selectable {
      text-align: right;
      padding-left: 100px;
      padding-right: 10px;
    }
    [dir='rtl'] .choices__list--dropdown .choices__item--selectable:after {
      right: auto;
      left: 10px;
    }
  }
  
  .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: #f2f2f2;
  }
  
  .choices__list--dropdown .choices__item--selectable.is-highlighted:after {
    opacity: 0.5;
  }
  
  .choices__item {
    cursor: default;
  }
  
  .choices__item--selectable {
    cursor: pointer;
  }
  
  .choices__item--disabled {
    cursor: not-allowed;
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
    opacity: 0.5;
  }
  
  .choices__heading {
    font-weight: 600;
    font-size: 12px;
    padding: 10px;
    border-bottom: 1px solid #f7f7f7;
    color: gray;
  }
  
  .choices__button {
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  
  .choices__button:focus {
    outline: none;
  }
  
  .choices__input {
    display: inline-block;
    vertical-align: baseline;
    background-color: #f9f9f9;
    font-size: 14px;
    margin-bottom: 5px;
    border: 0;
    border-radius: 0;
    max-width: 100%;
    padding: 4px 0 4px 2px;
  }
  
  .choices__input:focus {
    outline: 0;
  }
  
  [dir='rtl'] .choices__input {
    padding-right: 2px;
    padding-left: 0;
  }
  
  .choices__placeholder {
    opacity: 0.5;
  }
  
  /*=====  End of Choices  ======*/
  
.logo{
    &__img{
        display: block;
    }
}
.menu{
    display: none;
    margin-left: 33px;
    
    >ul{
        position: relative;
        >li{
            display: none;
            >a{
                font-family: 'Roboto';
                font-size: 15px;
                line-height: 26px;
                border-bottom: 1px solid #fff;
                color: #fff;
                transition: .3s;
                &:hover{
                    border-bottom-color: transparent;
                }
            }
            &:hover{
                >ul{
                    opacity: 1;
                    z-index: 10;
                }
            }
            >ul{
                opacity: 0;
                position: absolute;
                width: 253px;
                display: flex;
                flex-direction: column;
                background-color: #fff;
                border-top: 3px solid #8b929c;
                box-shadow: 0px 10px 21px 0px rgba(0,0,0,0.29);
                z-index: -1;
                top: 180%;
                transition: .3s;
                >li{
                    position: relative;
                    padding-left: 0 !important;
                   >a{
                        display: block;
                        padding: 12px 13px;
                        border-bottom: 1px solid #d3d3d3;
                        font-family: 'Open Sans';
                        font-size: 14px;
                        line-height: 17px;
                        color: #252525;
                        border-bottom: 1px solid transparent;
                        transition: .3s;
                        &:hover{
                            border-bottom-color: #252525;
                        }
                   }
                   &:hover{
                       >ul{
                           opacity: 1;
                           z-index: 10;
                       }
                   }
                   >ul{
                       opacity: 0;
                       position: absolute;
                       width: 253px;
                       display: flex;
                       flex-direction: column;
                       background-color: #fff;
                       box-shadow: 0px 10px 21px 0px rgba(0,0,0,0.29);
                       z-index: -1;
                       top: 0;
                       left: 100%;
                       transition: .3s;
                       >li{
                           padding-left: 0 !important;
                           >a{
                               display: block;
                               padding: 12px 13px;
                               border-bottom: 1px solid #d3d3d3;
                               font-family: 'Open Sans';
                               font-size: 14px;
                               line-height: 17px;
                               color: #252525;
                               border-bottom: 1px solid transparent;
                               &:hover{
                                    border-bottom-color: #252525;
                               }
                           }
                       }
                   }
                }
            }
        }
        li + li{
            padding-left: 37px;
        }
        

    }
    &__item{
        
        
        &--flex{
            display: flex !important;
            align-items: center;
            justify-content: space-between;
            .icon-arrow-down {
                font-family: 'icomoon';
                transform: rotate(270deg);
                &:before{
                    content: "\e90b";
                }
                    
            }
        }
    }
     
    @media screen and (min-width:650px){
        display: block;
        ul{
            display: flex;
        }
        li{
            &:nth-child(1),&:nth-child(2),&:nth-child(3){
                display: block;
            }
        }
    }
    @media screen and (min-width:1160px){
        li{
            &:nth-child(4),&:nth-child(5),&:nth-child(6),&:nth-child(7){
                display: block;
            }
        }
    }
    @media screen and (min-width:1600px){
        li{
            &:nth-child(8),&:nth-child(9),&:nth-child(10),&:nth-child(11),&:nth-child(12){
                display: block;
            }
        }
    }
}
.menu-adaptive{
    position: absolute;
    padding-bottom: 40px;
    opacity: 0;
    top: 0;
    left: 0;
    width: 0;
    transition: .5s;    
    background-color: #f8f8f7;
    z-index: -1;
    max-width: 270px;
    &__item{
        &--white{
            background-color: #fff !important;
        }
    }
    a{
        display: flex;
        padding: 0 15px;
        align-items: center;
        font-family: 'Open Sans';
        font-size: 14px;
        line-height: 26px;
        color: #252525;
        min-height: 50px;
        border-bottom: 1px solid #ececec;
        background-color: #f8f8f7;
        .icon-bell{
            font-family: 'icomoon';
            padding-left: 10px;
            padding-right: 8px;
            color: #d0d0d0;
            &::before{
                content: "\e905";
            }
        }
        .icon-heart{
            font-family: 'icomoon';
            padding-left: 10px;
            padding-right: 8px;
            color: #d0d0d0;
            &::before{
                content: "\e90d";
            }
        }
        .icon-list{
            font-family: 'icomoon';
            padding-left: 10px;
            padding-right: 8px;
            color: #d0d0d0;
            &::before{
                content: "\e913";
            }
        }
        .icon-cog{
            font-family: 'icomoon';
            padding-left: 10px;
            padding-right: 8px;
            color: #d0d0d0;
            &::before{
                content: "\e90c";
            }
        }
        sup{
            margin-top: -5px;
            margin-left: 4px;
            font-family: 'Roboto';
            font-size: 12px;
            line-height: 17px;
            font-weight: 700;
            color: #f24646;
        }
    }
    >ul{
        >li{
            text-align: left;
            &:first-child{
                a{
                    font-family: 'Roboto';
                    font-weight: 500;
                }
            }
            .icon-arrow-down{
                display: inline-block;
                margin-left: auto;
                font-family: 'icomoon';
                transform: rotate(270deg);
                &::before{
                    content: "\e90b";
                }
            }
           
        }
    }
    &__item{
        &--submenu{
            
        }
    }
    &__search{
        display: flex;
        padding: 17px 0;
        max-width: 220px;
        width: 100%;
        margin: 34px auto 0;
        align-items: center;
        justify-content: center;
        background-color: #97b431;
        border-radius: 5px;
        font-family: 'Open Sans';
        font-size: 14px;
        line-height: 22px;
        color: #fff;
        .icon-search{
            font-family: 'icomoon';
            padding-right: 7px;
            font-size: 15px;
            color: #fff;
            &::before{
                content: '\e904';
            }
        }
    }
    .js-active{
        transform: translateX(-100%);
    }
    .menu-adaptive__item--submenu ul{
        display: none;
    }
    .menu-adaptive__item--submenu.active ul{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }
    
    // @media screen and (min-width:650px){
    //     li{
    //         &:nth-child(1),&:nth-child(2),&:nth-child(3){
    //             display: none;
    //         }
    //     }
    // }
    // @media screen and (min-width:1160px){
    //     li{
    //         &:nth-child(4),&:nth-child(5),&:nth-child(6),&:nth-child(7){
    //             display: none;
    //         }
    //     }
    // }
    // @media screen and (min-width:1600px){
    //     display: none !important;
    //     li{
    //         &:nth-child(8),&:nth-child(9),&:nth-child(10),&:nth-child(11) &:nth-child(12){
    //             display: none;
    //         }
    //     }
    // }
<<<<<<< HEAD
<<<<<<< HEAD
}
.menu-adaptive{
    overflow: auto;
=======
>>>>>>> parent of 6371368... 123
=======
>>>>>>> parent of 6371368... 123
}
.menu-adaptive.active{
    opacity: 1;
    z-index: 10;
    top: 55px;
    width: 95%;
    @media screen and (min-width:650px){
        width: 100%;
    }
}
.burger{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.town{
    display: flex;
    align-items: center;
    .choices__inner{
        background-color: transparent;
        color: #fff;
        padding: 0 8px;
        border: 0;
        padding-bottom: 0 !important;
    }
    .choices[data-type*='select-one']:after{
        display: none;
    }
    .choices__list--single .choices__item--selectable:not(.choices__placeholder):before{
        display: none;
    }
    .choices__list{
        .is-selected,.choices__input {
            display: none;
        }
    }
    .choices__list--dropdown{
        margin-top: 21px;
        border-top: 3px solid #8b929c;
        right: 0;
        width: 253px;

        
        
        box-shadow: 0px 10px 21px 0px rgba(0, 0, 0, 0.29);

        @media screen and (min-width:1024px){
            left: -16px;
        }
        .choices__item--selectable.is-highlighted{
            background-color: #fff;
        }
        .choices__item{
            padding: 18px 24px;
            

            & + &{
               
            }

            &:hover{
                color: #1767a5;
                background-color: #fff;
            }
        }
        .choices__item + .choices__item{
            border-top: 1px solid #ececec;
        }
        

        // @media screen
    }
    &__select{
        font-family: 'Open Sans';
        font-size: 12px;
        line-height: 22px;
        color: #fff;
        background-color: transparent;
        border: none;
    }
    &__icon{
        display: none;
        margin-right: 9px;
    }
    @media screen and (min-width:650px){
        font-size: 13px;
        &__icon{
            display: inline-block;
        }
    }
}
.post-an-ad{
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 22px;
    color: #fff;
    &__plus{
        padding-left: 15px;
        font-family: 'Open Sans Bold';
        font-size: 30px;
        line-height: normal;
        
    }
    &__text{
        display: none;
        &:hover{
            text-decoration: underline;
        }
    }
    @media screen and (min-width:650px){
        margin-left: 15px;
        font-size: 13px;
        
        
    }
    @media screen and (min-width:768px){
        &__plus{
            display: none;
        }
        &__text{
            display: inline;
        }
    }
    @media screen and (min-width:1630px){
        margin-left: 28px;
    }
}

.footer{
    padding: 44px 0 0;
    background-color: #e0e3e6;
    &__container{
        max-width: 1842px;
        margin: 0 auto;
        width: 100%;
        &--flex{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (min-width:1024px){
                justify-content: space-between;
            }
        }
    }
    &__payment{
        display: none;
        padding-left: 15px;
        @media screen and (min-width:1024px){
            display: block;
        }
    }
    &__payment-item{
        transition: .3s;
        filter: grayscale(1);
        &:hover{
            filter: none;
        }
    }
    &__payment-item + &__payment-item{
        margin-left: 8px;
    }
    &__counter{
        display: none;
        padding-right: 15px;
        @media screen and (min-width:1024px){
            display: block;
        }
    }
    &__counter-item + &__counter-item{
        margin-left: 8px;
    }
    &__menu{
        width: 93%;
        @media screen and (min-width:600px){
            width: auto;
        }
    }
    &__upper-block{
        display: flex;
        flex-wrap: wrap;
        padding: 0 0 25px;
        margin: 0 15px;
        border-bottom: 1px solid #cfd3d6;
        @media screen and (min-width:1000px){
            flex-wrap: nowrap;
        }
        @media screen and (min-width:1000px){
            padding-bottom: 72px;
        }
        @media screen and (min-width:1200px){
            padding: 0 15px 72px;
        }
        
    }
    &__menu{
        &--w48{
            width: 48%;
        }        
        @media screen and (min-width:531px){
            &--info{
                margin-left: 20px;
            }
            &--w48{
                width: auto;
            }
        }
        @media screen and (min-width:1630px){
            &--info{
                margin-left: 225px !important;
            }
            &--seller{
                margin-left: 200px !important;
            }
            
        }
        
    }
    &__menu + &__menu{
        margin-top: 20px;
        @media screen and (min-width:531px){
            margin-top: 0;
        }
        @media screen and (min-width:1200px){
            margin-left: 165px;
        }
        
        
    }
    &__menu-title{
        margin-bottom: 10px;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 15px;
        line-height: 21px;
    }
    &__menu-container{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        &--justify-center{
            justify-content: center;;
        }
        
        @media screen and (min-width:531px){
            margin: 0;
            width: 100%;
            flex-wrap: nowrap;
            justify-content: space-between;
            &--links{
                flex-direction: column;
                justify-content: center;
            }
        }
        @media screen and (min-width:1000px){
            &--links{
                justify-content: start;
                margin-left: 150px;
                max-width: 168px;
            }
        }
        @media screen and (min-width:1200px){
            justify-content: start;
            &--links{
                margin-top: 15px;
            }
        }
        
    }
    &__menu-list{
        &--column-2{
            columns: 2;
            column-gap: 1em;
            
        }
        a{
            font-family: 'Open Sans';
            font-size: 13px;
            line-height: 22px;
            color: #000;
            &:hover{
                text-decoration: underline;
            }
        }
        li + li{
            margin-top: 2px;
        }
        @media screen and (min-width:1000px){
            &--column-2{
                column-gap: 3em;
            }
            
        }
        @media screen and (min-width:1630px){
            li + li{
                margin-top: 2px;
            }
            &--column-2{
                column-gap: 5em;
            }
        }
    }
    &__menu-text-links{
        @media screen and (min-width:531px){
            text-align: center;
            margin: 0 auto;
        }
        @media screen and (min-width:1200px){
            text-align: center;
            margin: 8px auto 0;
        }
    }
    &__menu-link-post{
        display: block;
        width: 100%;
        max-width: 168px;
        margin: 55px auto 5px;
        padding: 10px 14px;
        font-family: 'Open Sans';
        font-size: 14px;
        line-height: 22px;
        color: #fff;
        text-align: center;
        background-color: #97b431;
        border-radius: 3px;
        box-sizing: border-box;
        transition: .3s;
        @media screen and (min-width:1000px){            
            margin: 0;
            margin-left: auto;
            text-align: right;
        }
        &:hover{
            filter: brightness(0.9);
        }
    }
    &__menu-link-site{
        font-family: 'Open Sans';
        font-size: 13px;
        line-height: 24px;
        color: #8b929c;
        text-align: center;
        @media screen and (min-width:600px){
            display: none;
        }
        
    }
    &__menu-link-lk{
        display: inline-block;
        margin-left: 5px;
        font-family: 'Open Sans';
        font-size: 13px;
        line-height: 24px;
        color: #252525;
        text-align: center;
        &:hover{
            text-decoration: underline;
        }
        
    }
    &__medium{
        margin-top: 20px;
        padding: 0 15px 32px;
        @media screen and (min-width:600px){
            display: flex;
            flex-wrap: wrap;
        }
        @media screen and (min-width:1000px){
            align-items: center;
        }
        @media screen and (min-width:1200px){
            padding: 0 30px 44px;
        }
    }
    &__medium-block{
        margin-top: 25px;
        @media screen and (min-width:600px){
            margin-top: 0;
            width: 50%;
            box-sizing: border-box;
        }
        @media screen and (min-width:1000px){
            width: 33.333333%;
            &--number{
                order: 3;
            }
        }
        @media screen and (min-width:1630px){
            width: 23.333333%;
            &--number{
                margin-top: 12px;
            }
        }
    }
    &__medium-block + &__medium-block{
        
        @media screen and (min-width:600px){
            padding-left: 40px;
        }
    }
    &__medium-text{
        font-family: 'Open Sans';
        font-size: 11px;
        line-height: 16px;
        color: #8b929c;
        a{
            font-family: 'Open Sans';
            font-size: 11px;
            line-height: 16px;
            color: #8b929c;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }
    &__medium-text + &__medium-text{
        margin-top: 15px;
    }
    &__number-container{
        display: flex;
        justify-content: space-between;
        font-family: 'Open Sans';
        font-size: 11px;
        line-height: 16px;
        color: #8b929c;
    }
    &__number-container-right{
        text-align: right;
    }
    &__number{
        display: flex;
        align-items: flex-start;
        white-space: nowrap;
        font-family: 'Cera Pro';
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        color: #8b929c;
        text-align: right;
        sup{
            display: block;
            padding-right: 5px;
            white-space: nowrap;
            font-weight: 300;
            font-size: 11px;
            line-height: normal;
        }
        &--xl{
            display: none;
        }
        @media screen and (min-width:768px){
            font-size: 23px;
            line-height: 23px;
            sup{
                font-size: 12px;
            }
        }
        @media screen and (min-width:1630px){
            font-size: 26px;
            line-height: 26px;
            sup{
                font-size: 13px;
            }
            &--xl{
                display: flex;
            }
        }
        
    }
    &__mail{
        font-weight: 300;
        font-size: 13px;
        color: #8b929c;
        &:hover{
            text-decoration: underline;
        }
        @media screen and (min-width:1630px){
            display: none;
        }
    }
    &__social-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        @media screen and (min-width:1630px){
            margin-top: 27px;
        }
    }
    &__social-block{
        display: flex;
        align-items: center;
        
    }
    &__social-link{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 13px;
        border-radius: 3px;
        min-height: 38px;
        max-width: 38px;
        box-sizing: border-box;
        filter: grayscale(100%);
        transition: .3s;
        &--vk{
            background-color: #6693bb;
            .icon-vk{
                font-family: 'icomoon';
                font-size: 14px;
                color: #fff;
                &:before{
                    content: "\e909";
                }
                
            }
        }
        &--google{
            background-color: #dc4b40;
            .icon-google{
                font-family: 'icomoon';
                font-size: 14px;
                color: #fff;
                &:before{
                    content: "\e906";
                }
                
            }
        }
        &--inst{
            background: linear-gradient(to bottom, #ab30a7 0%, #ea3552 100%);
            .icon-instagram{
                font-family: 'icomoon';
                font-size: 14px;
                color: #fff;
                &:before{
                    content: "\e907";
                }
                
            }
        }
        &--odnoklassniki{
            background-color: #fc8f05;
            .icon-odnoklassniki{
                font-family: 'icomoon';
                font-size: 14px;
                color: #fff;
                &:before{
                    content: "\e908";
                }
                
            }
        }
        &:hover{
            filter: none;
        }
    }
    &__social-link + &__social-link{
        margin-left: 6px;
    }
    &__social-logo-text{
        font-family: 'Cera Pro';
        font-weight: 300; 
        font-size: 26px;
        line-height: 28px;
        color: #b4b6b8;
        &--mini{
            display: block;
            width: 100%;
            font-size: 9px;
            line-height: 11px;
            text-align: center;
            text-transform: uppercase;
        }
    }
    &__assessment{
        margin-top: 50px;
        margin: 50px auto 0;
        @media screen and (min-width:1000px){
            margin-top: 30px;
            order: 2;
        }
    }
    &__bottom-block{
        padding: 18px 0;
        background-color: #cfd3d6;
        text-align: center;
    }
    &__bottom-text{
        
        font-family: 'Open Sans';
        font-size: 13px;
        line-height: 22px;
        color: #5b6166;
        @media screen and (min-width:1024px){
            padding-right: 7%;
        }
    }
   

}
.assessment{
    max-width: 175px;
    &__container{
        position: relative;
        padding: 18px 13px 16px;
        border: 1px solid #cfd3d6;
    }
    &__title{
        position: absolute;
        padding: 0 5px;
        font-family: 'Open Sans';
        font-size: 10px;
        line-height: 16px;
        text-transform: uppercase;
        color: #8b929c;
        background-color: #e0e3e6;
        text-align: center;
        top: -8px;
        transform: translateX(-50%);
        left: 50%;
        white-space: nowrap;
    }
    &__total{
        text-align: center;
    }
    &__total-item{
        font-family: 'Open Sans';
        font-size: 11px;
        line-height: 22px;
        color: #8b929c;
        &--black{
            color: #5b6166;
        }
    }
    &__total-item + &__total-item{
        margin-left: 5px;
    }
    &__stars{
        display: flex;
    }
    &__stars-item{
        .icon-star{
            width: 29px;
            height: 28px;
        }
    }
}
.breadcrumbs{
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (min-width: 1024px){
            padding: 0 15px;
            justify-content: start;
        }
        li{
            position: relative;
            padding-right: 10px;
            margin-right: 10px;
            &::after{
                content: " › ";
                position: absolute;
                font-family: 'Open Sans';
                right: 0;
                top: -10%;
            }           
        }
        li:last-child{
            &::after{
                transform: rotate(90deg);
                color: #5f6368;
            }
        }
        a{
            font-family: 'Open Sans';
            font-size: 14px;
            line-height: 22px;
            color: #202124;
            &:hover{
                text-decoration: underline;
            }
            
        }
        span{
            padding-right: 8px;
            color: #5f6368;
            font-size: 14px;
            font-family: 'Open Sans';
        }
    }
}

.page-title{
    padding: 0 15px;
    font-family: 'Roboto';
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    color: #5b6166;
    text-align: center;
    background-color: #f7f7f7;
    @media screen and (min-width: 768px){
        font-size: 32px;
        line-height: 39px;
    }
    @media screen and (min-width: 1024px){
        text-align: left;
        font-size: 39px;
        line-height: 42px;
        padding: 0 15px;
    }
}
.main{
    padding: 27px 0 45px;
    background-color: #f7f7f7;
    box-shadow: 0px 10px 21px 0px rgba(0,0,0,0.29);
    @media screen and (min-width: 768px){
        padding-top: 32px;
    }
    @media screen and (min-width: 1630px){
        padding: 20px 0 50px;
    }
}
.fast-search{
    padding: 11px 13px;
    display: none;
    align-items: center;
    position: absolute;
    top: 10%;
    right: 0;
    background-image: url(../img/fast-search.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans';
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    transform: translateX(75%);
    transition: .3s;
    .icon-arrow-down{
        display: inline-block;
        font-family: 'icomoon';
        font-size: 16px;
        transform: rotate(90deg);
        color: #fff;
        &::before{
            content: "\e90b";
        }
    }
    &:hover{
        transform: none;
    }
    &__text{
        padding-left: 12px;
    }
    @media screen and(min-width:1024px){
        display: flex;
    }
}


.rect {
    background: #fff;
    display: inline-block;
    height: 2px;
    transition: transform 500ms;
    width: 18px;
    
  }

.rect+.rect{
    margin-top: 3px;    
  }

.rect:nth-child(2) {
  transition-delay: 100ms;
}

.rect:nth-child(3) {
  transition-delay: 100ms;
}

.burger.active .rect:nth-child(1) {
  transform: rotate(-45deg) translateX(-4px) translateY(4px);
  opacity:0
}

.burger.active .rect:nth-child(2) {
  transform: rotate(45deg);
}

.burger.active .rect:nth-child(3) {
  transform: rotate(-45deg) translateX(4px) translateY(-4px);  
}

.settings{
    display: flex;
    padding-left: 17px;
    align-items: center;
    @media screen and (min-width: 768px){
        padding-left: 45px;
    }
    &__text{
        display: none;
        font-family: 'Roboto';
        font-size: 13px;
        line-height: 17px;  
        color: #fff;  
        @media screen and (min-width: 768px){
            display: inline;
        }
    }
    .icon-cog{
        padding-right: 9px;
        font-family: 'icomoon';
        font-size: 16px;
        color: #fff;
        &::before{
            content: "\e90c";
        }
    }
}
.wallet{
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'Roboto';
    font-size: 13px;
    line-height: 17px;
    .icon-wallet{
        display: none;
        padding-right: 10px;
        font-family: 'icomoon';
        font-size: 18px;
        color: #fff;
        &::before{
            content: "\e912";
        }
        @media screen and (min-width: 768px){
            display: block;
        }
    }
}
.header{
    &__menu{
        &--price{
            li{
                display: none !important;
                &:first-child{
                    @media screen and (min-width: 768px){
                        display: block !important;
                    }
                }
                &:nth-child(2){
                    @media screen and (min-width: 1366px){
                        display: block !important;
                    }
                }
                &:nth-child(3){
                    @media screen and (min-width: 1600px){
                        display: block !important;
                    }
                }
            }
        }
    }
    
}

select{
   
    background-color: #fff;
    color: #4d5156;
    border: 1px solid #d3d3d3;
}






<<<<<<< HEAD
 
.rating{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    &__item{
        margin-left: 5px;
        color: #fff;
        cursor: pointer;
        transition: .3s;
        &:hover{
            .icon-star{
                &::before{
                    color: #f8b704; 
                }
            }
            color: orange;
        }
        &:last-child{
            margin-left: 0;
        }
    }
    &__item + &__item{
        
    }
    &__item:hover~ &__item{
        .icon-star{
            &::before{
                color: #f8b704; 
            }
        }
        
    }
    .icon-star{
        font-family: 'icomoon';
        font-size: 24px;
        &:before {
            content: "\e911";
            color: #e9e9e9;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        }
      }
    
}
.rating[data-total-value="1"] .rating__item:nth-child(n + 5),
.rating[data-total-value="2"] .rating__item:nth-child(n + 4),
.rating[data-total-value="3"] .rating__item:nth-child(n + 3),
.rating[data-total-value="4"] .rating__item:nth-child(n + 2),
.rating[data-total-value="5"] .rating__item:nth-child(n + 1) {
    .icon-star{
        &::before{
            color: #f8b704; 
        }
    }
}
=======
  .custom-select{
      position: relative;
      width: 100%;
      height: 39px;
      padding: 0;
      
  }
  .custom-select:not(select){
    display: none;
      @media screen and (min-width:1023px){
           display: block;
      }
  }
  .custom-select--show .custom-select__current::after {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    top: 40%;
  }
  .custom-select--show .custom-select__list {
    display: block;
  }
  .custom-select__current {
    width: 100%;
    border: 1px solid #d3d3d3;
    padding: 10px;
    position: relative;
    cursor: pointer;
    background-color: #fff;
    text-align: left;
  }
  .custom-select__current::after {
    content: "";
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #d3d3d3 transparent transparent transparent;
  }
  .custom-select__list {
    width: 100%;
    position: absolute;
    z-index: 2;
    overflow: hidden;
    border: 1px solid #d3d3d3;
    margin-top: 5px;
    border-radius: 3px;
    display: none;
  }
  .custom-select__item {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    display: inline-block;
    width: 100%;
    text-align: left;
  }
  .custom-select__item:hover, .custom-select__item:focus {
    background-color: #e6e6e6;
  }
  select.custom-select {
    @media screen and (min-width:1024px){
   
    opacity: 0;
    position: absolute;
    height: 1px;
    width: 1px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    }
  }
  
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> parent of 6371368... 123
=======
>>>>>>> parent of 6371368... 123
=======
>>>>>>> parent of 6371368... 123

  /* test */