.options{
    &__page-title{
        margin-bottom: 40px;
    }
    @media screen and (min-width: 700px){
        padding: 24px 0;
    }

    &__row{
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 1024px){
            flex-direction: row;
        }
    }
    &__content{
        width: 100%;
    }
    &__item-container{
        box-sizing: border-box;
        padding-right: 8px;
        margin-bottom: 10px;

        &--w33,&--w33-3{
            width: 33.3%;
        }
        &--w25{
            width: 25%;
        }
        &--w10{
            width: 10%;
        }
     
    }
    &__line{
        display: flex;
        flex-direction: column;
        width: 100%;

        & + &{
            margin-top: 17px;
        }

        &-left{
            padding-top: 10px;
            flex-shrink: 0;
            width: 220px;
            margin-right: 30px;
            &-title{
                font-family: 'Arial';
                font-size: 15px;
                line-height: 22px;
                color: #5b6166;
            }
            &-desc{
                margin-top: 7px;
                font-size: 12px;
                line-height: 14px;
                color: #8b929c;
                font-family: "Open Sans";
            }
        }
    }
    &__line-row{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        margin-right: -8px;
        
    }
    &__w100{
        width: 100%;
    }
    &__input{
        display: block;
        width: 100%;
        padding: 5px 12px;
        height: 39px;
        border: 1px solid #d3d3d3;
        font-family: 'Roboto';
        font-size: 13px;
        line-height: 22px;
        color: #4d5156;
        box-sizing: border-box;
    }
    &__textarea{
        display: block;
        width: 100%;
        padding: 5px 12px;
        max-width: 566px;
        border: 1px solid #d3d3d3;
        font-family: 'Roboto';
        font-size: 13px;
        line-height: 22px;
        color: #4d5156;
        box-sizing: border-box;
        resize: none;
        margin-bottom: 17px;
        &--big{
            height: 256px;
        }
        &--medium{
            height: 128px;
        }
    }
    &__input-file{
        display: none;
    }
    &__add-photo{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        
    }
    &__add-button{
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin-right: 15px;
        padding: 9px 20px;
        min-height: 35px;
        font-family: 'Open Sans';
        font-size: 13px;
        line-height: 17px;
        color: #fff;
        background-color: #72777c;
        border-radius: 3px;
        box-sizing: border-box;
        transition: .3s;
        text-align: center;
        cursor: pointer;
    }
    &__explanation{
      
        font-family: 'Open Sans';
        font-size: 12px;
        line-height: 16px;
        color: #8b929c;
    }
    &__add-photo-img{
        max-width: 100%;
        max-height: 29px;
        margin-top: 21px;
    }
   
}
.options-aside{
    width: 100%;
    margin-top: 20px;
   @media screen and (min-width:1024px){
    width: 329px;
    flex-shrink: 0;
    margin-left: 27px;
    margin-top: 0;
   }

   &__how-seen{
       display: inline-block;
       margin-bottom: 12px;
       font-size: 13px;
       line-height: 17px;
       color: #4d5156;
       border-bottom: 1px solid #4d5156;
       font-family: "Open Sans";
   }
   &__title{
       margin-bottom: 26px;
       font-size: 18px;
       line-height: 21px;
       color: #5b6166;
       font-family: "Roboto";
       font-weight: 700;
   }
   &__logo{
       display: block;
       max-width: 100%;
       margin-bottom: 17px;
   }
   &__checked{
       display: flex;
       align-items: center;
      
       font-size: 12px;
       line-height: 15px;
       color: #8b929c;
       .icon-check {
        font-family: 'icomoon';
        padding-right: 5px;
        font-size: 10px;
        color: #95c31a;
        &::before{
            content: '\e90a';
        }
    }
   }
   &__tegs{
    display: inline-block;
    margin-top: 5px;
   
    clear: both;
    }
    &__tegs-item{
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
        color: #8b929c;
        &:hover{
            text-decoration: underline;
        }
    }
    &__tegs-item + &__tegs-item{
        margin-left: 5px;
    }
    &__assessment{
        margin-left: 5px;
        margin-right: 5px;
        .icon-star{
            font-family: 'icomoon';
            font-size: 13px;
            &::before{
                content: "\e911";
                color: #f8b704;
            }
        }
    }

    &__assessment-text{
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 11px;
        line-height: 22px;
        color: #4d5156;
        &:hover{
            text-decoration: underline;
        }
    }
    &__desc{
        margin-top: 18px;
        font-family: 'Open Sans';
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: #8b929c;

        span{
            display: block;
            color: #202124;
        }
    }
    &__item{
        display: flex;
        align-items: center;
    }
    &__numbers-link{
        font-size: 20px;
        line-height: 27px;
        color: #202124;
        font-family: "Roboto";
        transition: .3s;
        &:hover{
            opacity: .7;
        }
    }
    &__numbers-oper{
        font-size: 13px;
        line-height: 16px;
        color: #8b929c;
        font-family: "Open sans";
        margin-left: 10px;
    }
    &__numbers-list{
        margin: 15px 0;
    }
    &__text{
        font-size: 13px;
        line-height: 20px;
        color: #4d5156;
        font-family: "Open sans";
        margin-top: 10px;

        & + &{
            margin-top: 20px;
        }
    }
    p{
        a{
            font-size: 13px;
            line-height: 22px;
            color: #607fa6;
            border-bottom: 1px solid #607fa6;
            transition: .3s;
            &:hover{
                border-color: transparent;
            }
        }
    }

    &__work-time-container{
        margin-top: 15px;
        font-family: 'Open Sans';
        font-size: 13px;
        line-height: 22px;
        color: #202124;
        .icon-arrow-down{
            font-family: 'icomoon';
            font-size: 10px;
            &::before{
                content: "\e90b";
            }
        }
    }
    &__work-time{
        display: inline-block;
        position: relative;
        padding-right: 9px;
        color: #8b929c;
        cursor: pointer;
        &:hover{
            .product-item__work-time-menu{
                opacity: 1;
                z-index: 10;
            }
        }
        &:focus{
            .product-item__work-time-menu{
                opacity: 1;
                z-index: 10;
            }
        }
    }
    &__work-time-menu{
        position: absolute;
        opacity: 0;
        z-index: -1;
        transition: .3s;
    }
}


.work-time{
    width: 276px;
    background-color: #fff;
    border-top: 3px solid #8b929c;
    box-shadow: 0px 10px 21px 0px rgba(0, 0, 0, 0.29);
    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 13px;
        border-bottom: 1px solid #d3d3d3;
        &--day-off{
            .work-time__time-label{
                color: #8b929c !important;
            }
            
        }
    }
    &__time-input[type=checkbox]{
        display: none;
    }
    
    &__time-input[type=checkbox] + &__time-label{
        position: relative;
        padding-left: 24px;
        font-family: 'Open Sans';
        font-size: 14px;
        line-height: 17px;
        color: #252525;
        &::before{
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            border: 1px solid #d3d3d3;
            left: 0;
            bottom: 50%;
            transform: translateY(50%);
        }
        
    }
    &__time-input[type=checkbox]:checked + &__time-label{
        .icon-check{
            display: inline;
        }
    }
    &__time-label{
        cursor: pointer;
        .icon-check{
            font-family: 'icomoon';
            font-size: 10px;
            display: none;
            position: absolute;
            margin-top: -3.5px;
            color: #4d5156;
            left: 4px;
            top: 30%;
            &::before{
                content: "\e90a";
            }
        }
    }
    &__time{
        display: inline-block;
        padding: 3px 7px ;
        border: 1px solid #d3d3d3;
        width: 50px;
        box-sizing: border-box;
        font-family: 'Roboto';
        font-size: 13px;
        line-height: 17px;
    }
    
}