.side-bar{
    padding-top: 26px;
    padding-bottom: 35px;
    background-color: #f7f7f7;
    &--white{
        background-color: #fff;
    }
    @media screen and (min-width: 1024px){
        display: none;
    }
    @media screen and (min-width: 1300px){
        display: flex;
        margin-top: 50px;
        
        &__container{
            margin-right: 26px;
            max-width: 934px;
            box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            padding: 35px 33px 44px;
            box-sizing: border-box;
        }
    }
    @media screen and (min-width: 1630px){
        max-width: 360px;
        padding-top: 0;
        margin-top: 0;
        margin-left: 44px;
        flex-direction: column;
        &__container{
            margin: 0 auto;
            padding: 26px 26px 40px;
            min-width: 320px;
        }
    }
    
}
.filters{
    display: none;
    width: 240px;
    &__container{
        display: flex;
        flex-wrap: wrap;
    }
    &__item{
        position: relative;
        padding: 7px 15px 10px;
        background-color: #fff;
        border: 1px solid #d3d3d3;
        font-family: 'Roboto';
        font-size: 13px;
        line-height: 22px;
        color: #4d5156;
        width: 100%;
        border-bottom: none;
        min-height: 37px;
        &--w50{
            width: 50%;
        }
        &--border-right{
            border-right: none !important;
        }
        // &--border-bottom-xl{
        //     border-bottom: 1px solid #d3d3d3;
        //     @media screen and (min-width: 1630px){
        //         border-bottom: none;
        //     }
        // }
        &--border-bottom{
            border-bottom: 1px solid #d3d3d3;
            
        }
        &::after{
            content: '';
            position: absolute;
            width: 11px;
            height: 8px;
            background-image: url(../images/select-slick.png);
            background-size: cover;
            background-repeat: no-repeat;
            right: 0;
            top: 50%;
        }
    }
    &__input{
        padding: 6px 15px;
        width: 100%;
        background-color: #fff;
        border: 1px solid #d3d3d3;
        font-family: 'Roboto';
        font-size: 13px;
        line-height: 22px;
        color: #4d5156;
        box-sizing: border-box;
        border-bottom: none;
    }
    &__buttons{
        text-align: center;
    }
    &__show{
        display: block;
        padding: 10px 0;
        max-width: 213px;
        width: 100%;
        margin: 20px auto 0;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #fff;
        background-color: #72777c;
        border-radius: 3px;
        transition: .3s;
        &:hover{
            filter: brightness(.9);
        }
    }
    &__more-settings{
        font-family: 'Roboto';
        font-size: 12px;
        line-height: 26px;
        color: #8b929c;
        text-decoration: underline;
        text-align: center;
    }
    &__select-container{
        position: relative;
        width: 100%;
        &--w50{
            width: 50%;
        }
        &--hidden{
            display: none;
            @media screen and (min-width: 1630px){
                display: flex;
                flex-wrap: wrap;
            }
            .filters__select-container{
                &:first-child{
                    .custom-select__current{
                        border-top: none;
                        border-right: 1px solid #d3d3d3;
                    }
                    
                }
                &:nth-child(3){
                    .custom-select__current{
                        border-right: 1px solid #d3d3d3;
                    }
                }
                &:nth-child(4){
                    .custom-select__current{
                        border-right: none;
                    }
                }
                &:last-child{
                    .custom-select__current{
                        border-bottom: 1px solid #d3d3d3;
                    }
                }
            }
        }
        .custom-select__current{
            border-bottom: none;
        }
        &:first-child{
            .custom-select__current{
                border-right: none;
                border-bottom: none;
            }
        }
        &:nth-child(3){
            .custom-select__current{
                border-right: none;
            }
            
        }
        &:nth-child(7){
            .custom-select__current{
                border-right: none;
                border-bottom: 1px solid #d3d3d3;
            }
        }
        // .select-dropdown__button{
        //     position: relative;
        //     padding: 7px 15px 10px;
        //     background-color: #fff;
        //     border: 1px solid #d3d3d3;
        //     font-family: 'Roboto';
        //     font-size: 13px;
        //     line-height: 22px;
        //     color: #4d5156;
        //     width: 100%;
        //     border-bottom: none;
        //     min-height: 37px;
        // }
        // .select-dropdown__list{
        //     display: none;
        //     position: absolute;
        //     width: 100%;
        //     z-index: 10;
        //     text-align: center;
        // }
        // .select-dropdown__list-item{
        //     padding: 7px 15px 10px;
        //     background-color: #fff;
        //     border: 1px solid #d3d3d3;
        //     font-family: 'Roboto';
        //     font-size: 13px;
        //     line-height: 22px;
        //     color: #4d5156;
        //     width: 73%;
        //     border-bottom: none;
        //     min-height: 15px;
        //     cursor: pointer;
        // }
        
        // .select-dropdown {
        //     position: relative;
        //     display: inline-block;
        //     max-width: 100%;
        //     margin: 0 15px 0 0;
            
        //     &:last-child {
        //         margin-right: 0px;
        //     }
        
        //     &__button {
        //         padding: 10px 35px 10px 15px;
        //         background-color: #fff;
        //         color: #616161;
        //         border: 1px solid #cecece;
        //         border-radius: 3px;
        //         cursor: pointer;
        //         width: 210px;
        //         text-align: left;
        
        //         &::focus {
        //             outline: none;
        //         }
        
        //         .zmdi-chevron-down {
        //             position: absolute;
        //             right: 10px;
        //             top: 12px;
        //         }
        //     }
        
        //     &__list {
        //         position: absolute;
        //         display: block;
        //         left: 0;
        //         right: 0;
        //         max-height: 300px;
        //         overflow: auto;
        //         margin: 0;
        //         padding: 0;
        //         border: 1px solid #cecece;
        //         border-top: 0px solid transparent;
        //         list-style-type: none;
        //         opacity: 0;
        //         pointer-events: none;
        //         transform-origin: top left;
        //         transform: scale(1,0);
        //         transition: all ease-in-out .3s;
        //         z-index: 2;
        
        //         &.active {
        //             opacity: 1;
        //             pointer-events: auto;
        //             transform: scale(1,1);
        
        //         }
        //     }
        //     &__list-item {
        //         display: block;
        //         list-style-type: none;
        //         padding: 10px 15px;
        //         background: #fff;
        //         border-top: 1px solid #e6e6e6;
        //         font-size: 14px;
        //         line-height: 1.4;
        //         cursor: pointer;
        //         color: #616161;
        //         text-align: left;
        //         transition: all ease-in-out .3s;
        
        //         &:hover {
        //             background-color: #1fc69d;
        //             color: #fff;
        //             transition: all ease-in-out .3s;
        //         }
        //     }
        // }
    }
    @media screen and (min-width: 1300px){
        display: block;
    }
    @media screen and (min-width: 1630px){
        margin: 50px auto 0;
    }
}
