.add-price{
    padding-bottom: 35px;
    @media screen and (min-width: 700px){
        padding-top: 12px;
    }
    @media screen and (min-width: 1366px){
        padding-top: 8px;
    }
    &__upper{
        padding: 0 30px 20px;
        @media screen and (min-width: 1366px){
            
        }
    }
    &__subtitle{
        font-family: 'Arial';
        font-size: 14px;
        line-height: 22px;
        color: #5b6166;
        text-align: center;
        @media screen and (min-width: 700px){
            padding-top: 13px;
            font-size: 15px;
        }
        @media screen and (min-width: 1366px){
            padding-left: 15px;
            text-align: left;
        }
    }
    &__item-container{
       &--ml-auto{
           @media screen and (min-width: 700px){
                margin-left: auto;
            }
       }
       &--flex-md{
            @media screen and (min-width: 1024px){
                display: flex;
                align-items: flex-end;
         }
       }
       &--w66{
           @media screen and (min-width: 1024px){
                width: 66%;
            }
       }
       &--w41{
            @media screen and (min-width: 1024px){
                width: 41%;
            }
       }
    }
    &__add-button{
        display: block;
        margin: 26px auto 0;
        padding: 11px 0 10px;
        max-width: 157px;
        width: 100%;
        text-align: center;
        border-radius: 3px;
        background-color: #97b431;
        font-family: 'Open Sans';
        font-size: 13px;
        line-height: 22px;
        color: #fff;
        @media screen and (min-width: 700px){
            margin-top: 18px;
            font-size: 15px;
        }
        @media screen and (min-width: 1366px){
            margin: 18px 0 0 15px;
        }
    }
    &__add-input{
        display: none;
    }
    &__list-title{
        margin-top: 46px;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #5b6166;
        text-align: center;
        @media screen and (min-width: 700px){
            margin-top: 50px;
            font-size: 22px;
        }
        @media screen and (min-width: 1366px){
            padding-left: 15px;
            font-size: 24px;
            line-height: 27px;
            text-align: left;
        }
    }
    &__item{
        padding: 50px 15px 0;
        @media screen and (min-width: 700px){
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            padding: 46px 27px 0;
        }
        @media screen and (min-width: 1366px){
            padding: 38px 36px 0;
        }
    }
    &__item + &__item{
        padding-top: 31px;
    }
    &__item-right{
        @media screen and (min-width: 700px){
            display: flex;
            align-items: flex-end;
            padding-bottom: 8px;
        }
    }
    &__main-container{
        background-color: #fff;
        padding-bottom: 60px;
        border-top: 1px solid #cfd3d6;
        @media screen and (min-width: 700px){
            padding-bottom: 48px;
        }
        @media screen and (min-width: 1366px){
            margin-left: 45px;
            max-width: 1308px;
            border: 1px solid #cfd3d6;
        }
    }
    &__item-title{
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 17px;
        line-height: 24px;
        color: #5b6166;
    }
    &__item-link-container{
        margin-top: 13px;
        @media screen and (min-width: 700px){
            margin-top: 6px;
        }
    }
    &__item-input{
        display: none;
    }
    &__item-input[type=checkbox] + &__item-link{
        position: relative;
        padding-left: 22px;
        color: #3d617e;
        &::before{
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            border: 1px solid #d3d3d3;
            left: 0;
        }
        
    }
    &__item-input[type=checkbox]:checked + &__item-link{
        .icon-check{
            display: inline;
        }
    }
    &__item-link{
        cursor: pointer;
        .icon-check{
            display: none;
            position: absolute;
            font-family: 'icomoon';
            font-size: 7px;
            left: 5px;
            top: 50%;
            margin-top: -3.5px;
            color: #000;
            &::before{
                content: "\e90a";
            }
        }
    }
    &__stat{
        display: flex;
        margin-top: 12px;
        padding-left: 30px;
        @media screen and (min-width: 700px){
            padding-left: 20px;
            margin-top: 6px;
        }
    }
    &__stat-item{
        display: flex;
        align-items: center;
        font-family: 'Roboto';
        font-size: 13px;
        line-height: 24px;
        color: #5b6166;
        .icon{
            margin-right: 7px;
            width: 14px;
            height: 14px;
        }
        .icon-check-circle{
            padding-right: 7px;
            font-family: 'icomoon';
            font-size: 12px;
            color: #97b431;
            &::before{
                content: "\e903";
            }
        }
        .icon-close-circle{
            padding-right: 7px;
            font-family: 'icomoon';
            font-size: 12px;
            color: #f36628;
            &::before{
                content: "\e902";
            }
        }
        &--total{
            padding-left: 5px;
            color: #8b929c;
        }
    }
    &__stat-item + &__stat-item{
        margin-left: 15px;
    }
    &__date-calendar{
        position: relative;
        cursor: pointer;
        &:hover{
            .add-price__hint{
                opacity: 1;
                z-index: 10;
            }
        }
    }
    
      
    &__hint{
        opacity: 0;
        position: absolute;
        padding: 3px 13px;
        left: 50%;
        bottom: 60%;
        margin-bottom: 14px;
        transform: translateX(-50%);
        white-space: nowrap;
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(229,231,241,1) 100%);
        border-radius: 3px;
        border: 1px solid #767676;
        font-family: 'Roboto';
        font-size: 11px;
        line-height: 14px;
        color: #5b6166;
        box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.2);
        z-index: -1;
        transition: .3s;
    }
    &__date{
        padding-left: 32px;
        margin-top: 4px;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 11px;
        line-height: 15px;
        color: #5b6166;
        @media screen and (min-width: 700px){
            padding-left: 0;
            text-align: right;
        }
    }
    &__date-time{
        font-weight: 400;
    }
    
    &__control{
        padding-left: 32px;
        margin-top: 5px;
        @media screen and (min-width: 700px){
            padding-left: 0;
        }
    }
    &__control-item{
        font-family: 'Roboto';
        font-size: 13px;
        line-height: 17px;
        color: #306da0;
        border-bottom: 1px solid #306da0;
        transition: .3s;
        &:hover{
            border-bottom-color: transparent;
        }
    }
    &__control-item + &__control-item{
        margin-left: 8px;
    }
    &__buttons{
        padding-left: 32px;
        margin-top: 27px;
        display: flex;
        align-items: center;
        @media screen and (min-width: 700px){
            padding-left: 16px;
            margin-top: 0;
        }
        
    }
    &__public{
        display: block;
        padding: 8px 10px;
        max-width: 115px;
        width: 110px;
        background-color: #72777c;
        border-radius: 3px;
        color: #fff;
        font-family: 'Open Sans';
        font-size: 12px;
        line-height: 16px;
        min-height: 35px;
        transition: .3s;
        &--green{
            background-color: #97b431;
            &:hover{
                .add-price__hint{
                    opacity: 1;
                    z-index: 10;
                }
            }
        }
        &:hover{
            filter: brightness(0.9);
        }
        @media screen and (min-width: 700px){
            width: 126px;
        }
    }
    &__upload{
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 5px;
        justify-content: center;
        padding: 7px 11px;
        background-color: #cfd3d6;
        border-radius: 3px;
        min-height: 35px;
        transition: .3s;
        .icon-upload{
            font-family: 'icomoon';
            font-size: 18px;
            color: #afb7be;
            transition: .3s;
            &::before{
                content: "\e901";
            }
        }
        &--green{
            background-color: #97b431;
            
            .icon-upload{
                color: #fff;
            }
            &:hover{
                filter: brightness(0.9);
            }
        }
        &:hover{
            .add-price__hint{
                opacity: 1;
                z-index: 10;
            }
        }
    }
    &__bottom-container{
        padding: 7px 15px;
        background-color: #cfd3d6;
        display: flex;
        @media screen and (min-width: 700px){
            align-items: center;
            padding: 13px 27px;
        }
        @media screen and (min-width: 1366px){
            margin-left: 45px;
            max-width: 1308px;
            box-sizing: border-box;
        }
    }
    &__chooses{
        padding-top: 10px;
        box-sizing: border-box;
        font-family: 'Roboto';
        font-size: 15px;
        color: #5b6166;
        width: 40%;
        border-right: 1px solid #fff;
        @media screen and (min-width: 700px){
            padding-top: 0;
           width: 15%;
        }
    }
    &__management{
        padding-top: 10px;
        padding-left: 18px;
        width: 60%;
        @media screen and (min-width: 700px){
            padding-top: 0;
         }
    }
    &__management-item{
        display: inline-block;
        margin-bottom: 20px;
        font-family: 'Roboto';
        font-size: 13px;
        line-height: 14px;
        color: #5b6166;
        border-bottom: 1px solid #5b6166;
        @media screen and (min-width: 700px){
            margin-bottom: 0;
        }
    }
    &__management-item + &__management-item{
        margin-left: 18px;
    }
}

