.main{
    padding: 32px 0 0;
    background-color: #f7f7f7;
}
.product{
    &__title{
        margin-top: 15px;
        font-family: 'Roboto';
        font-size: 22px;
        line-height: 27px;
        font-weight: 700;
        color: #5b6166;
        text-align: center;
    }
    &__subtitle{
        margin-top: 22px;
        text-align: center;
        font-family: 'Roboto';
        font-size: 13px;
        line-height: 22px;
        color: #8b929c;
        
    }
    &__subtitle-item{
        &--black{
            color: #4d5156;
        }
    }
    &__subtitle-item + &__subtitle-item{
        margin-left: 30px;
    }
    &__item{
        margin-top: 17px;
    }
}
.product-item{
    &__gallery-thumbs-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 14px;
    }
    &__main-img{
        width: 320px;
        height: 240px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 3px;
    }
    &__side-img{
        width: 67px !important;
        height: 51px;
        margin-right: 6px !important;
        margin-bottom: 6px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 3px;
    }
}
