
@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-BoldItalic.eot');
    src: url('CeraPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CeraPro-BoldItalic.woff') format('woff'),
    url('../fonts/CeraPro-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro Medium'), local('Cera-Pro-Medium'),
        url('../fonts/CeraPro-Medium.woff2') format('woff2'),
        url('../fonts/CeraPro-Medium.woff') format('woff'),
        url('../fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro Light'), local('Cera-Pro-Light'),
        url('../fonts/CeraPro-Light.woff2') format('woff2'),
        url('../fonts/CeraPro-Light.woff') format('woff'),
        url('../fonts/CeraPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans.ttf');
    src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans.woff') format('woff'),
    url('../fonts/opensans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensansbold.ttf');
    src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensansbold.woff') format('woff'),
    url('../fonts/opensansbold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    }
*{
    outline: none !important;
}
html{
    height: 100%;
}
body{
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 5;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    cursor: pointer;
    text-decoration: none;
}
p{
    margin: 0;
}
button{
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.active{
    display: block;
}
.wrapper{
    position: relative;
    min-height: 100%;
    height: auto;
    max-width: 100%;
    overflow: hidden;
}

.container{
    position: relative;
    padding: 0 15px;
    max-width: 1842px;
    &--flex{
        display: flex;
        align-items: center;
    }
    &--between{
        justify-content: space-between;
    }
}
.header{
    display: flex;
    padding-right: 15px;
    align-items: center;
    justify-content: space-between;
    background-color: #5b6166;
    &__burger{
        padding-left: 16px;
    }
    &__left-side{
        display: flex;
        align-items: center;
    }
    &__right-side{
        display: flex;
        align-items: center;
        margin-left: auto;
    }
}
.logo{
    display: block;
    padding: 0 30px 0 15px;
    background-image: url(../bg/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    font-family: 'Cera Pro';
    font-weight: 700;
    font-style: italic;
    font-size: 31px;
    line-height: 50px;
}
.menu{
    display: none;
    margin-left: 33px;
    a{
        font-family: 'Roboto Regular';
        font-size: 15px;
        line-height: 26px;
        text-decoration: underline;
        color: #fff;
    }
    li{
        display: none;
    }
    li + li{
        padding-left: 35px;
    }
     
    @media screen and (min-width:650px){
        display: block;
        ul{
            display: flex;
        }
        li{
            &:nth-child(1),&:nth-child(2),&:nth-child(3){
                display: block;
            }
        }
    }
    @media screen and (min-width:1160px){
        li{
            &:nth-child(4),&:nth-child(5),&:nth-child(6),&:nth-child(7){
                display: block;
            }
        }
    }
    @media screen and (min-width:1600px){
        li{
            &:nth-child(8),&:nth-child(9),&:nth-child(10),&:nth-child(11),&:nth-child(12){
                display: block;
            }
        }
    }
}
.menu-adaptive{
    position: absolute;
    opacity: 0;
    padding: 0;
    top: -150px;
    right: 0px;
    width: 0;
    background-color: #5b6166;
    transition: .5s;
    a{
        font-family: 'Roboto Regular';
        font-size: 15px;
        line-height: 26px;
        text-decoration: underline;
        color: #fff;
        text-align: center;
    }
    li{
        margin-bottom: 10px;
        text-align: center;
    }
    @media screen and (min-width:650px){
        li{
            &:nth-child(1),&:nth-child(2),&:nth-child(3){
                display: none;
            }
        }
    }
    @media screen and (min-width:1160px){
        li{
            &:nth-child(4),&:nth-child(5),&:nth-child(6),&:nth-child(7){
                display: none;
            }
        }
    }
    @media screen and (min-width:1600px){
        display: none !important;
        li{
            &:nth-child(8),&:nth-child(9),&:nth-child(10),&:nth-child(11) &:nth-child(12){
                display: none;
            }
        }
    }
}
.menu-adaptive.active{
    padding: 15px;
    opacity: 1;
    top: 50px;
    width: 95%;
    @media screen and (min-width:650px){
        width: 100%;
    }
}
.burger{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.town{
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 22px;
    color: #fff;
    &__icon{
        display: none;
        margin-right: 9px;
    }
    @media screen and (min-width:650px){
        font-size: 13px;
        &__icon{
            display: inline-block;
        }
    }
}
.post-an-ad{
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 22px;
    color: #fff;
    &__plus{
        padding-left: 15px;
        font-family: 'Open Sans Bold';
        font-size: 30px;
        line-height: normal;
    }
    &__text{
        display: none;
    }
    @media screen and (min-width:650px){
        margin-left: 15px;
        font-size: 13px;
        &__plus{
            display: none;
        }
        &__text{
            display: inline;
        }
    }
}

.footer{
    padding: 36px 0 0;
    background-color: #e0e3e6;
    &__upper-block{
        display: flex;
        flex-wrap: wrap;
        padding: 0 0 25px;
        margin: 0 15px;
        border-bottom: 1px solid #cfd3d6;
        @media screen and (min-width:1000px){
            flex-wrap: nowrap;
        }
        @media screen and (min-width:1000px){
            padding-bottom: 50px;
        }
        
    }
    &__menu{
        &--w48{
            width: 48%;
        }        
        @media screen and (min-width:531px){
            &--info{
                margin-left: 20px;
            }
            &--w48{
                width: auto;
            }
        }
        
    }
    &__menu + &__menu{
        margin-top: 20px;
        @media screen and (min-width:531px){
            margin-top: 0;
        }
        @media screen and (min-width:1200px){
            margin-left: 165px;
        }
        
    }
    &__menu-title{
        margin-bottom: 10px;
        font-family: 'Roboto Bold';
        font-size: 15px;
        line-height: 21px;
    }
    &__menu-container{
        display: flex;
        flex-wrap: wrap;
        &--justify-center{
            justify-content: center;;
        }
        
        @media screen and (min-width:531px){
            width: 100%;
            flex-wrap: nowrap;
            justify-content: space-between;
            &--links{
                flex-direction: column;
                justify-content: center;
            }
        }
        @media screen and (min-width:1000px){
            &--links{
                justify-content: start;
                margin-left: 150px;
                max-width: 168px;
            }
        }
        @media screen and (min-width:1200px){
            justify-content: start;
            
        }
        
    }
    &__menu-list{
        &--column-2{
            columns: 2;
            column-gap: 1em;
        }
        a{
            font-family: 'Open Sans';
            font-size: 13px;
            line-height: 22px;
            color: #000;
            &:hover{
                text-decoration: underline;
            }
        }
        @media screen and (min-width:1000px){
            &--column-2{
                column-gap: 3em;
            }
            
        }
    }
    &__menu-text-links{
        @media screen and (min-width:531px){
            text-align: center;
            margin: 0 auto;
        }
    }
    &__menu-link-post{
        display: block;
        width: 100%;
        max-width: 168px;
        margin: 55px auto 5px;
        padding: 16px 20px;
        font-family: 'Open Sans';
        font-size: 13px;
        line-height: 22px;
        color: #fff;
        text-align: center;
        background-color: #97b431;
        border-radius: 3px;
        box-sizing: border-box;
        @media screen and (min-width:1000px){            
            margin: 0;
            margin-left: auto;
            text-align: right;
        }
    }
    &__menu-link-site{
        font-family: 'Open Sans';
        font-size: 13px;
        line-height: 24px;
        color: #8b929c;
        text-align: center;
        @media screen and (min-width:600px){
            display: none;
        }
    }
    &__menu-link-lk{
        display: inline-block;
        margin-left: 5px;
        font-family: 'Open Sans';
        font-size: 13px;
        line-height: 24px;
        color: #252525;
        text-align: center;
        
    }
    &__medium{
        margin-top: 25px;
        padding: 0 15px 44px;
        @media screen and (min-width:600px){
            display: flex;
            flex-wrap: wrap;
        }
        @media screen and (min-width:1000px){
            align-items: center;
        }
    }
    &__medium-block{
        @media screen and (min-width:600px){
            width: 50%;
            box-sizing: border-box;
        }
        @media screen and (min-width:1000px){
            width: 33.333333%;
            &--number{
                order: 3;
            }
        }
    }
    &__medium-block + &__medium-block{
        
        @media screen and (min-width:600px){
            padding-left: 40px;
        }
    }
    &__medium-text{
        font-family: 'Open Sans';
        font-size: 11px;
        line-height: 16px;
        color: #8b929c;
        a{
            font-family: 'Open Sans';
            font-size: 11px;
            line-height: 16px;
            color: #8b929c;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }
    &__medium-text + &__medium-text{
        margin-top: 1em;
    }
    &__number-container{
        display: flex;
        justify-content: space-between;
        font-family: 'Open Sans';
        font-size: 11px;
        line-height: 16px;
        color: #8b929c;
    }
    &__number-container-right{
        text-align: right;
    }
    &__number{
        display: flex;
        align-items: flex-start;
        white-space: nowrap;
        font-family: 'Cera Pro';
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        color: #8b929c;
        text-align: right;
        sup{
            display: block;
            padding-right: 5px;
            white-space: nowrap;
            font-weight: 300;
            font-size: 11px;
            line-height: normal;
        }
    }
    &__mail{
        font-weight: 300;
        font-size: 13px;
        color: #8b929c;
        &:hover{
            text-decoration: underline;
        }
    }
    &__social-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }
    &__social-block{
        display: flex;
        align-items: center;
    }
    &__social-link{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        border-radius: 3px;
        min-height: 38px;
        max-width: 38px;
        box-sizing: border-box;
        filter: grayscale(100%);
        &--vk{
            background-color: #6693bb;
        }
        &--google{
            background-color: #dc4b40;
        }
        &--inst{
            background-size: cover;
            background-repeat: no-repeat;
        }
        &--odnoklassniki{
            background-color: #fc8f05;
        }
    }
    &__social-link + &__social-link{
        margin-left: 6px;
    }
    &__social-logo-text{
        font-family: 'Cera Pro';
        font-weight: 300; 
        font-size: 26px;
        line-height: 28px;
        color: #b4b6b8;
        &--mini{
            display: block;
            width: 100%;
            font-size: 9px;
            line-height: 11px;
            text-align: center;
            text-transform: uppercase;
        }
    }
    &__assessment{
        margin-top: 50px;
        margin: 50px auto 0;
        @media screen and (min-width:1000px){
            margin-top: 0;
            order: 2;
        }
    }
    &__bottom-block{
        padding: 30px 0;
        background-color: #cfd3d6;
        text-align: center;
    }
    &__bottom-text{
        font-family: 'Open Sans';
        font-size: 13px;
        line-height: 22px;
        color: #5b6166;
    }
   

}
.assessment{
    max-width: 175px;
    
    &__container{
        border: 1px solid #cfd3d6;
    }
    &__title{
        padding: 0 10px;
        margin: -8px auto 0;
        max-width: 95px;
        font-family: 'Open Sans';
        font-size: 10px;
        line-height: 16px;
        text-transform: uppercase;
        color: #8b929c;
        background-color: #e0e3e6;
        text-align: center;
    }
    &__total{
        margin-top: 11px;
        text-align: center;
    }
    &__total-item{
        font-family: 'Open Sans';
        font-size: 11px;
        line-height: 22px;
        color: #8b929c;
        &--black{
            color: #5b6166;
        }
    }
    &__total-item + &__total-item{
        margin-left: 5px;
    }
}








.rect {
    background: #fff;
    display: inline-block;
    height: 2px;
    transition: transform 500ms;
    width: 18px;
    
  }

.rect+.rect{
    margin-top: 3px;    
  }

.rect:nth-child(2) {
  transition-delay: 100ms;
}

.rect:nth-child(3) {
  transition-delay: 100ms;
}

.burger.active .rect:nth-child(1) {
  transform: rotate(-45deg) translateX(-4px) translateY(4px);
  opacity:0
}

.burger.active .rect:nth-child(2) {
  transform: rotate(45deg);
}

.burger.active .rect:nth-child(3) {
  transform: rotate(-45deg) translateX(4px) translateY(-4px);  
}
